<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns="http://www.springframework.org/schema/integration"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://www.springframework.org/schema/integration/http"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            https://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/http
            https://www.springframework.org/schema/integration/http/spring-integration-http.xsd">

    <http:inbound-gateway
            id="httpIndexGateway"
            request-channel="httpIndexChannel"
            path="/"
            view-name="index"
    />
    <channel id="httpIndexChannel">
        <!--
       <interceptors>
           <wire-tap channel="fullLogger"/>
       </interceptors>
-->
    </channel>
    <transformer id="startModelTransformer" expression="new java.util.HashMap()" input-channel="httpIndexChannel" output-channel="testTransformerChannel"/>
    <channel id="testTransformerChannel"/>
    <transformer id="insertRegistryItemsTransformer" input-channel="testTransformerChannel" ref="registryItemsEnricher"/>

<!--    <logging-channel-adapter id="fullLogger" level="DEBUG" log-full-message="true"/>-->


</beans:beans>