{{#reply}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Michael & Lizzy's Wedding</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords"
          content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Alice|Zilla+Slab:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/wedding-custom.css">

    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Fixed navbar -->
<!-- navbar-fixed-top -->
<nav class="navbar navbar-default probootstrap-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" title="uiCookies:Wedding">Michael <em>&amp;</em> Lizzy</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                <li><a href="#" data-nav-section="groom-bride">Groom &amp; Bride</a></li>
                <li><a href="#" data-nav-section="when-where">When &amp; Where</a></li>
                <li><a href="#" data-nav-section="gallery">Gallery</a></li>
                <li><a href="#" data-nav-section="rsvp">RSVP</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="flexslider" data-section="home">
    <div class="container text-intro-wrap">
        <div class="row">
            <div class="col-md-12 text-center text-intro probootstrap-animate">
                <h1>Michael <em>&amp;</em> Lizzy</h1>
                <h2>Getting Married on April 4, 2020 &mdash; Atlanta, GA</h2>
            </div>
        </div>
    </div>
    <ul class="slides">
        <li style="background-image: url(img/hero_1.jpg)"></li>
        <li style="background-image: url(img/hero_2.jpg)"></li>
    </ul>
</section>

<section class="probootstrap-section probootstrap-section-colored probootstrap-wedding-countdown">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center probootstrap-animate"><h4>The Wedding Begins In</h4></div>
            <div class="col-md-12 probootstrap-animate">
                <div class="date-countdown"></div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-bg" data-section="groom-bride">
    <div class="container">
        <div class="row">
            <div class="col-md-12 probootstrap-groom-bride">

                <div class="probootstrap-groom probootstrap-animate">
                    <figure>
                        <img src="img/groom_profile.jpg" alt="Free Bootstrap Template by uicookies.com"
                             class="img-responsive">
                    </figure>
                    <span class="probootstrap-caption">The Groom</span>
                    <h2 class="text-center">Michael</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                        a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                        is a paradisematic country, in which roasted parts of sentences fly into your mouth question ran
                        over her cheek, then she continued her way.</p>
                </div>

                <div class="probootstrap-divider probootstrap-animate"><span>&amp;</span></div>

                <div class="probootstrap-bride probootstrap-animate">
                    <figure>
                        <img src="img/bride_profile.jpg" alt="Free Bootstrap Template by uicookies.com"
                             class="img-responsive">
                    </figure>
                    <span class="probootstrap-caption">The Bride</span>
                    <h2 class="text-center">Lizzy</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                        a large language ocean.</p>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question
                        Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven
                        versalia, put her initial into the belt and made herself on the way.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="probootstrap-section probootstrap-section-colored" data-section="when-where">
    <div class="container">
        <div class="row mb40 text-center">
            <div class="col-md-12 probootstrap-animate"><h2 class="mt0">When &amp; Where</h2></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 probootstrap-animate">
                <p><img src="img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com"
                        class="img-responsive img-rounded"></p>
                <p>The wedding ceremony and reception will take place at our residence:</p>
                <p>11 Wiltshire Dr<br/>Avondale Estates, GA<br/>30002</p>
                <p>Park on the side of the street closest to our house, if possible, so as not to block the street</p>
                <p>Time: TBD</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<!--<div id="map"></div>-->

<!--
<section class="probootstrap-section" data-section="gallery">
    <div class="container">
        <div class="row mb40 probootstrap-animate">
            <div class="col-md-12 text-center"><h2>Gallery</h2></div>
        </div>

        <div class="row probootstrap-gutter30">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row probootstrap-gutter30">
                    <div class="col-md-6 probootstrap-animate">
                        <a class="probootstrap-image image-popup" href="img/img_3.jpg"
                           style="background-image: url(img/img_3.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_3.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                    <div class="col-md-6 probootstrap-animate">
                        <a class="probootstrap-image image-popup" href="img/img_2.jpg"
                           style="background-image: url(img/img_2.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_2.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                </div>
                <div class="row probootstrap-gutter30">
                    <div class="col-md-12 probootstrap-animate">
                        <a class="probootstrap-image image-popup" href="img/img_1.jpg"
                           style="background-image: url(img/img_1.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_1.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row probootstrap-gutter30">
                    <div class="col-md-6">
                        <div class="row probootstrap-gutter30">
                            <div class="col-md-12 probootstrap-animate">
                                <a class="probootstrap-image image-popup" href="img/img_4.jpg"
                                   style="background-image: url(img/img_4.jpg)">
                                    <div class="probootstrap-image-for-popup"><img src="img/img_4.jpg"
                                                                                   alt="Free Bootstrap Template by uicookies.com"
                                                                                   class="img-responsive"></div>
                                </a>
                            </div>
                            <div class="col-md-12 probootstrap-animate">
                                <a class="probootstrap-image image-popup" href="img/img_5.jpg"
                                   style="background-image: url(img/img_5.jpg)">
                                    <div class="probootstrap-image-for-popup"><img src="img/img_5.jpg"
                                                                                   alt="Free Bootstrap Template by uicookies.com"
                                                                                   class="img-responsive"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 probootstrap-animate">
                        <a class="probootstrap-image  height-2x image-popup" href="img/img_6.jpg"
                           style="background-image: url(img/img_6.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_6.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; END row &ndash;&gt;

        <div class="row probootstrap-gutter30">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row probootstrap-gutter30">
                    <div class="col-md-6">
                        <div class="row probootstrap-gutter30">
                            <div class="col-md-12 probootstrap-animate">
                                <a class="probootstrap-image image-popup" href="img/img_1.jpg"
                                   style="background-image: url(img/img_1.jpg)">
                                    <div class="probootstrap-image-for-popup"><img src="img/img_1.jpg"
                                                                                   alt="Free Bootstrap Template by uicookies.com"
                                                                                   class="img-responsive"></div>
                                </a>
                            </div>
                            <div class="col-md-12 probootstrap-animate">
                                <a class="probootstrap-image image-popup" href="img/img_2.jpg"
                                   style="background-image: url(img/img_2.jpg)">
                                    <div class="probootstrap-image-for-popup"><img src="img/img_2.jpg"
                                                                                   alt="Free Bootstrap Template by uicookies.com"
                                                                                   class="img-responsive"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 probootstrap-animate">
                        <a class="probootstrap-image  height-2x image-popup" href="img/img_3.jpg"
                           style="background-image: url(img/img_3.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_3.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="row probootstrap-gutter30">
                    <div class="col-md-6 probootstrap-animate">
                        <a class="probootstrap-image image-popup" href="img/img_4.jpg"
                           style="background-image: url(img/img_4.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_4.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                    <div class="col-md-6 probootstrap-animate">
                        <a class="probootstrap-image image-popup" href="img/img_5.jpg"
                           style="background-image: url(img/img_5.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_5.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                </div>
                <div class="row probootstrap-gutter30">
                    <div class="col-md-12 probootstrap-animate">
                        <a class="probootstrap-image image-popup" href="img/img_6.jpg"
                           style="background-image: url(img/img_6.jpg)">
                            <div class="probootstrap-image-for-popup"><img src="img/img_6.jpg"
                                                                           alt="Free Bootstrap Template by uicookies.com"
                                                                           class="img-responsive"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; END row &ndash;&gt;
    </div>
</section>
-->

<section class="probootstrap-section probootstrap-border-top" data-section="rsvp">
    <div class="container">
        <div class="row mb40">
            <div class="col-md-12 text-center">
                <h2 class="mt0 mb10 probootstrap-animate">Will you attend?</h2>
                <p>Please sign your RSVP</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="probootstrap-card probootstrap-animate">
                    <form class="probootstrap-form">
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <p>Will you attend?</p>
                            <label for="yes"><input type="checkbox" id="yes"> Yes, I will be there</label> <br>
                            <label for="no"><input type="checkbox" id="no"> Sorry, I can't come</label> <br>
                        </div>
                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea name="" id="note" cols="20" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Send RSVP">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-colored-darker">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 probootstrap-animate"><h2 class="mt0">Registry</h2></div>
        </div>
        <div class="row">
            <div class="col-md-12" id="registry-container"></div>
            {{#registryList}}
                <div class="thumbnail registry-card">
                   <img src="img/{{imgSrc}}" class="img-rounded img-responsive" />
                    <div class="caption">
                        <h5>{{title}}</h5>
                        <p>{{subText}}</p>
                        <p class="registry-cost">{{costF}}</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:{{percentageF}};min-width:3em;">{{progressF}}</div>
                        </div>
                        <button class="btn btn-primary" type="button">Donate</button>
                    </div>
                </div>
            {{/registryList}}
        </div>
    </div>
</section>

<footer class="probootstrap-footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                &copy; 2017 <a href="https://uicookies.com/">uiCookies:Wedding</a>. All Rights Reserved. Designed &amp;
                Developed by <a href="https://uicookies.com">uicookies.com</a> <br> Demo Images by <a
                    href="https://unsplash.com">Unsplash</a>
            </div>
        </div>
    </div>
</footer>

<script src="js/scripts.js"></script>
<script src="js/custom.js"></script>
<script src="js/wedding-custom.js"></script>

</body>
</html>
{{/reply}}
